
:root {
  /* paleta colores*/
  --background-color-header: #0f76a0;
  --color-cabeceralogo-h1: white;
  --background-color-menuprincipal: #9fc8d9;
  --color-menuprincipal-a: #333333;

  --background-color-menuprincipal-li-hover: #6facc6;
  --background-color-main: rgb(112, 112, 112);
  --background-gradient-main: linear-gradient(
    180deg,
    rgba(112, 112, 112, 1) 0%,
    rgba(233, 233, 233, 1) 100%
  );
  --color-infoadicional-h1: #333333;
  --color-numerodia: white;
  --color-nombredia: white;
  --color-seccionpie-a: #666666;

  --background-color-articulosprincipales: white;
  --background-color-informacionadicional: #e7f1f5;
  --background-color-article-time: #094660;
  --background-color-pielogo: #0f76a0;
  --background-color-pielogo-div: #9fc8d9;

  /* tipografías */
  --font-family: Arial, sans-serif;
  --font-size-cabeceralogo-h1: 3.5rem;
  --font-size-menuprincipal-a: 1.2rem;
  --font-family-cabeceralogo-h1: Arial, sans-serif;
  --font-weight-cabeceralogo-h1: bold;
  --font-weight-menuprincipal-a: bold;
  --text-decoration-a: none;
  --font-size-infoadicional-h1: 1.2rem;
  --font-size-numerodia: 2.2rem;
  --font-size-nombredia: 0.9rem;
  --font-weight-numerodia: bold;
  --font-family-article-time: Verdana, sans-serif;
  --font-family-article-h1: Georgia, sans-serif;
  --font-family-article-p: Georgia, sans-serif;
  --font-size-article-h1: 1.9rem;
  --font-size-article-p: 1.1rem;
  --font-weight-article-h1: bold;
  --font-size-seccionpie-h1: 1.25rem;
  --font-weight-seccionpie-h1: bold;
  --font-size-seccionpie-a: 1rem;
  --font-weight-seccionpie-a: bold;

  /* bordes */
  --border-top-menuprincipal: 1px solid #094660;
  --border-bottom-menuprincipal: 1px solid #094660;
  --border-radius-cajas: 10px;
  --border-radius-article-time: 5px;
  --border-figure-img: 1px solid;
  --border-radius-pielogo-div: 10px;

  /* box shadows*/
  --box-shadow-article-time: 3px 3px 5px rgba(100, 100, 100, 0.7);
  --box-shadow-menuprincipal: 3px 3px 5px rgba(100, 100, 100, 0.7);

  /*utilidades*/
  --margin-0-centrado: 0 auto;

  /* tamaños */
  --max-width-container: 90%;

  --width-articulosprincipales: 69%;
  --width-infoadicional: 29%;
  --width-articulosprincipales-img: 70%;
  --width-article-time: 80px;
  --width-seccionpie: 33.33%;

  --height-header: 150px;
  --height-menuprincipal: 50px;
  --height-menuprincipal-li: 48px;

  --padding-cabeceralogo: 0% 2%;
  --padding-menuprincipal: 0% 2%;
  --padding-pielogo: 2%;
  --padding-top-cabecera-div: 45px;
  --padding-top-main: 30px;
  --padding-top-articulosprincipales: 30px;
  --padding-menuprincipal-li: 15px 10px 0px 10px;
  --padding-infoadicional: 20px;
  --padding-article: 0px 40px 20px 40px;
  --padding-article-time: 15px 5px;
  --padding-figure-img: 5px;
  --padding-seccionpie: 3%;

  --margin-right-menuprincipal-li: 5px;
  --margin-left-infoadicional: 2%;
  --margin-bottom-infoadicional-h1: 15px;
  --margin-bottom-article-h1: 5px;
  --margin-figure: 10px 0px;
  --margin-top-seccionpie-p: 5px;

  /* positions */
  --top-article-time: -5px;
  --left-article-time: -60px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  background: var(--background-gradient-main);
}

#cabeceralogo {
  background-color: var(--background-color-header);
  height: var(--height-header);
  color: var(--color-cabeceralogo-h1);
  padding: var(--padding-cabeceralogo);
}

#cabeceralogo h1 {
  font-family: var(--font-family-cabeceralogo-h1);
  font-size: var(--font-size-cabeceralogo-h1);
  font-weight: var(--font-weight-cabeceralogo-h1);
  text-align: center;
  padding-top: var(--padding-top-cabecera-div);
}

#menuprincipal {
  background-color: var(--background-color-menuprincipal);
  border-top: var(--border-top-menuprincipal);
  border-bottom: var(--border-bottom-menuprincipal);
  height: var(--height-menuprincipal);
  box-shadow: var(--box-shadow-menuprincipal);
}

#menuprincipal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menuprincipal li {
  display: inline-block;
  padding: var(--padding-menuprincipal-li);
  margin-right: var(--margin-right-menuprincipal-li);
  height: var(--height-menuprincipal-li);
}

#menuprincipal a {
  color: var(--color-menuprincipal-a);
  font-weight: var(--font-weight-menuprincipal-a);
  font-size: var(--font-size-menuprincipal-a);
  text-decoration: var(--text-decoration-a);
}

#menuprincipal li:hover {
  background-color: var(--background-color-menuprincipal-li-hover);
  border-radius: var(--border-radius-cajas);
}

main > div {
  max-width: var(--max-width-container);
  margin: var(--margin-0-centrado);
  display: flex;
  justify-content: space-between;
  padding-top: var(--padding-top-main);
}

#articulosprincipales {
  width: var(--width-articulosprincipales);
  background-color: var(--background-color-articulosprincipales);
  border-radius: var(--border-radius-cajas);
  padding-top: var(--padding-top-articulosprincipales);
}

#articulosprincipales article {
  position: relative;
  padding: var(--padding-article);
}

#articulosprincipales h1 {
  font-family: var(--font-family-article-h1);
  font-weight: var(--font-weight-article-h1);
  font-size: var(--font-size-article-h1);
  margin-bottom: var(--margin-bottom-article-h1);
}

#articulosprincipales p {
  font-family: var(--font-family-article-p);
  font-size: var(--font-size-article-p);
}

#articulosprincipales figure {
  width: var(--width-articulosprincipales-img);
  margin: var(--margin-figure);
}

#articulosprincipales img {
  width: 100%;
  border: var(--border-figure-img);
  padding: var(--padding-figure-img);
}

#articulosprincipales time {
  position: absolute;
  top: var(--top-article-time);
  left: var(--left-article-time);
  width: var(--width-article-time);
  background-color: var(--background-color-article-time);
  border-radius: var(--border-radius-article-time);
  box-shadow: var(--box-shadow-article-time);
  text-align: center;
  font-family: var(--font-family-article-time);
}

.numerodia {
  font-size: var(--font-size-numerodia);
  font-weight: var(--font-weight-numerodia);
  color: var(--color-numerodia);
}

.nombredia {
  font-size: var(--font-size-nombredia);
  color: var(--color-nombredia);
}

#infoadicional {
  width: var(--width-infoadicional);
  background-color: var(--background-color-informacionadicional);
  border-radius: var(--border-radius-cajas);
  padding: var(--padding-infoadicional);
  margin-left: var(--margin-left-infoadicional);
}

#infoadicional h1 {
  color: var(--color-infoadicional-h1);
  font-size: var(--font-size-infoadicional-h1);
  margin-bottom: var(--margin-bottom-infoadicional-h1);
}

#pielogo {
  background-color: var(--background-color-pielogo);
  color: white;
  margin-top: 40px;
  padding: var(--padding-pielogo);
}

#pielogo > div {
  background-color: var(--background-color-pielogo-div);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--border-radius-pielogo-div);
  padding: 30px 40px;
  max-width: var(--max-width-container);
  margin: var(--margin-0-centrado);
}

.seccionpie {
  width: var(--width-seccionpie);
}

.seccionpie h1 {
  font-size: var(--font-size-seccionpie-h1);
  font-weight: var(--font-weight-seccionpie-h1);
  color: var(--color-menuprincipal-a);
  margin-bottom: 10px;
}

.seccionpie a {
  display: block;
  text-decoration: var(--text-decoration-a);
  font-size: var(--font-size-seccionpie-a);
  font-weight: var(--font-weight-seccionpie-a);
  margin-top: var(--margin-top-seccionpie-p);
}

.seccionpie:nth-child(1) a:nth-child(2) {
  color: #006699;
}
.seccionpie:nth-child(1) a:nth-child(3) {
  color: #3399cc;
}
.seccionpie:nth-child(1) a:nth-child(4) {
  color: #336699;
}
.seccionpie:nth-child(2) a {
  color: #336699;
}

.seccionpie a:hover {
  text-decoration: underline;
}

.seccionpie address {
  font-style: italic;
  color: #333333;
}

.seccionpie small {
  color: #333333;
  display: block;
  margin-top: 5px;
}